/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1557683316-973673baf926');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Conteneur du formulaire */
.login-container {
    background:white;
    padding: 6rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

/* Champs de formulaire */
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Bouton de connexion */
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Message d'erreur */
.error-message {
    color: red;
    margin-top: 10px;
}

.register-container{
    background: white;
    padding: 6rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
